.row.main
  .col-sm-8.col-md-9
    .panel.panel-primary
      .panel-heading
        %h3.panel-title
          =@question.text
          [<strong>#{@question.rating.to_i}</strong>]
      .list-group
        - @answers.each |answer| do
          %div{class: "list-group-item " + explain_answer_class(@selected_answer_id, answer.id, answer.is_correct?)}
            answer.text
      .panel-footer
        =@question.explanation
        =link_to "next question", question_path, class: "btn btn-default"
