.row
  .col-sm-8.col-md-9
    .panel.panel-primary
      .panel-heading
        %h3.panel-title
          =@question.text
          [<strong>#{@question.rating.to_i}</strong>]
      .list-group
        - @answers.each do |answer|
          %div{class: "list-group-item " + explain_answer_class(@selected_answer_id, answer.id, answer.is_correct?)}
            =answer.text
.row
  .col-sm-8.col-md-9
    %h2 Reference
    %p
      =@question.explanation
    %p
      =link_to "next question", question_path, class: "btn btn-primary"
