.row
  .col-sm-8.col-md-9
    =form_tag({controller: "questions", action: "check"},
      {class: "panel panel-primary", method: "post"}) do
      .panel-heading
        %h3.panel-title
          =@question.text
          [<strong>#{@question.rating.to_i}</strong>]
      .list-group
        =render @answers
        =hidden_field_tag "time", 0
      .panel-footer
        .btn-group{data: {toggle: "buttons"}}
          %label.btn.btn-primary
            =check_box_tag "is_last_question"
            This is my last question
  .col-sm-4.col-md-3
    .panel.panel-primary
      .panel-heading
        %h3.panel-title.text-center
          Your rating:
          %strong
            =current_user.rating.to_i
      %table.table.text-center
        %thead
          %tr
            %th.text-center Solution
            %th.text-center Rating
        %tbody
          %tr
            %td
              #{@t0.to_i} s
            %td
              +#{@if_win.round(1)}
          %tr
            %td
              #{@t_even.round(1)} s
            %td unchanged
          %tr
            %td failed
            %td
              =@if_lose.round(1)

:coffee
  $ ->
      time_started = new Date()
      $("input:radio").click ->
          time_ended = new Date()
          answer_time = (time_ended - time_started) / 1000
          $("input#time").val answer_time
          $(this).closest("form").submit()
