.row
  .col-sm-10.col-md-8
    %h1 About
    %p
      This website is just a test project by
      %a{href: "https://github.com/Enucatl/basketball-referee-quiz"} Matteo Abis
      who happens to like coding and being a referee.
