.row
  .col-sm-10.col-md-8
    %h1 About
    %p
      This website is just a weekend project by
      %a{href: "https://github.com/Enucatl/basketball-referee-quiz"} Matteo Abis
      a referee who happens to like coding. You can report wrong answers or bugs on the
      %a{href: "https://github.com/Enucatl/basketball-referee-quiz/issues"} issue tracker.
